.header {
    font-size: 100px;
    background-color: #60b863;
    padding: 50px;
    text-align: center;
    color: white;
}


.main_message {
    font-size: 60px;
    text-align: center;
    color: #333;
    padding-right: 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select {
    font-size: 60px;
    
}

/* .buttton {
    font-size: 25px;
    color: white;
    background-color: #4CAF50;
    padding: 60px;
}

.buttton:hover {
    font-size: 30px;
    color: white;
    background-color: #3a833c;
    padding: 60px;
} */
