.gender_Msg {
    font-size: 50px;
    color: #333;
}

.boy_Btn {
    font-size: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: #0888bb;
    color: white;
    margin-right: 10px;
}

.boy_Btn:hover {
    background-color: #0a6f8f;
}

.boy_Btn:active {
    background-color: #084f6f;  
}

.girl_Btn {
    font-size: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: #ce51a4;
    color: white;
}

.girl_Btn:hover {
    background-color: #a03f7f;
}

.girl_Btn:active {
    background-color: #7a2c5f;
}

.main_message {
    font-size: 60px;
    text-align: center;
    color: #333;
    padding-right: 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.input {  
    font-size: 50px;
    width: 630px;
    border-radius: 20px;
    margin-right: 10px;
}



.result_message {
    font-size: 50px;
    margin-top: 20px;
}

